<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <div id="agentformcontainer">
        <form id="agentForm" action="/" method="post">
          <select id="agent" name="agent" size="1" form="agentForm">
            <option value="N/A">--Select an Agent--</option>
            <option value="702EE77D-E69D-46C7-9DC9-A050C4A3E238">Brandon</option>
            <option value="00BB17FB-496A-4FF7-9922-2963D73F68A3">Conner</option>
            <option value="1448BE37-DA5D-4ED4-8A85-80825148380F">Tom</option>
            <option value="37E51B42-1FCE-49FD-8242-3F17722E2631">Ryan</option>
            <option value="0D5F33DC-6757-4C25-89A4-9C62557DD6CF">Jason</option>
          </select>
          <br>
          <input id="submit" type="submit" value="Get Agent">
        </form>
      </div>
    </div>
  </body>
</html>